[Unit]
Description=Python script for music player
After=default.target
Requires=bluetooth.target

[Service]
Type=idle
#Restart=on-failure
ExecStart=/usr/bin/bash /path/to/script/launch.sh

[Install]
WantedBy=default.target
